doctype html 
html
    head
        style(type="text/css").
            h1 {
                color: blue;
            } 
            h2 {
                color: lightgreen;
            } 
            body {
                background-color:lightcoral;
            }
        title= title
    body 
        h1 Welcome to the Homepage!
        h2= message
